html {
  box-sizing: border-box;
  background: linear-gradient(#0293dd, transparent),
              linear-gradient(180deg, transparent, #0293dd),
              url('code BG.jpg') no-repeat center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}
h1{
    font-family: 'Baloo', cursive;
      text-transform: uppercase;
}

.wrapper {
  padding:20px;
  width: 100%;
  max-width: 900px;
  background: rgba(255,255,255,.6);
  border-radius: 5px;
  box-shadow: 8px 10px 19px 0 rgba(0, 0, 0, .5)
}
.wrapper p, div{
  font-family: 'Varela Round', sans-serif;
}


.subjects {
  list-style: none;
  margin: 0;
  padding: 10px 10px;
  text-align: left;
  font-family: 'Baloo', cursive;
  text-transform: uppercase;
}

.subjects li {
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}


.subjects label{
  flex:1;
  cursor: pointer;
}

.subjects input {
  display: none;
}
.subjects input + label:before {
  content: '⬜️';
  margin-right: 10px;
}


.subjects input:checked + label:before {
  content: '👍';
}

form {
  width: 100%;
  background: white;
  display: inline-block;
  overflow: hidden;
  display:flex;
  border-radius: 5px;
  border: solid 4px white;
  box-shadow: 0 1px 14px rgba(0,0,0,.12);
}

form button{
  padding: 0 1em;
  font-size: 1em;
  background: #0293dd;
  border-radius:5px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

form input {
  width: 100%;
  padding: 12px;
  outline: none;
  border: none;
  font-size: 14px;
}
